
.border-bottom.d-flex.align-items-center.py-1
        
        .position-relative 
          img#user-avatar.mr-1.avatar(src= avatar, alt= name)
        
        .flex-grow-1.pl-3
          strong#user-name= name
          #user-status.small
            em= online
        
        <button class='btn btn-outline-secondary btn mr-1 px-3'>Zpět</button>  