extends layout

block content
   
  main.content.card
   .row.g-0  
     .panel.col-12.col-lg-5.col-xl-3.border-right
      
        include rightPanel
      
      
     .container.col-12.col-lg-7.col-xl-9
        .p-0    
           include chatHeader

           #chat

           include chatFooter   