
.border-bottom.d-flex.align-items-center.py-1
        
        .position-relative 
          img#participant-avatar.mr-1.avatar(src= avatar, alt= name)
        
        .flex-grow-1.pl-3
          strong#participant-name= name
          #participant-status.small
            em= online
        
        a.btn.btn-outline-secondary.btn.mr-1.px-3(href='/logout') Odhlásit se  