doctype html
html(lang="cs")
  head
    meta(charset="UTF-8")
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    title= title
    // - Boostrap Template
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css', crossorigin='anonymous')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css', crossorigin='anonymous')

    // - Vlastní CSS
    if authorised
        link(rel='stylesheet', href='/stylesheets/main.css')
    else
        link(rel='stylesheet', href='/stylesheets/login.css')

    // - Jquery
    script(src='https://code.jquery.com/jquery-3.1.0.min.js', crossorigin='anonymous')
    
    // JS
    if authorised
        script(src='javascripts/client.js', type='text/javascript')
    else
       script(src='javascripts/login.js', type='text/javascript')

  body
    block content