extends layout

block content
    main
      //- přihlašovací formulář 
      .container
        form#login.form-signin(action='login', method='post', autocomplete='on')
          h2.form-signin-heading Přihlášení
          label.sr-only(for='inputUsername') 
          input#inputUsername.form-control(type='text', name='login', placeholder='Uživatelské jméno nebo email', required, autofocus)
          label.sr-only(for='inputPassword') Heslo
          input#inputPassword.form-control(type='password', name='password', placeholder='Heslo', required)
          button.btn.btn-lg.btn-primary.btn-block(type='submit') Přihlásit se